.cardList {
  margin: 0;
  padding: 70px 70px 84px;
  min-height: calc(100vh - 220px - 74px - 172px - 147px);
  display: flex;
  flex-direction: column;
}

.cardList_saved {
  padding-bottom: 55px;
}

.cardList__items {
  margin: 0;
  padding: 0;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  grid-column-gap: 20px;
  grid-row-gap: 31px;
}

.cardList__items_left {
  justify-content: left;
}

.cardList__error {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  line-height: 58px;
  font-weight: 400;
}

.cardList__buttonMore {
  padding: 0;
  margin: 80px auto 10px;
  width: 320px;
  height: 36px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 6px;
  background: #f4f4f4;
  border: none;
  position: relative;
}

.cardList__buttonMore-none {
  opacity: 0;
  visibility: hidden;
}

.cardList__buttonMore:active {
  top: 2px;
}

@media (max-width: 839px) {
  .cardList {
    padding: 70px 30px 79px;
    min-height: calc(100dvh - 661px);
  }

  .cardList_saved {
    padding-bottom: 52px;
  }

  .cardList__items {
    grid-template-columns: repeat(auto-fit, 339px);
    grid-row-gap: 36px;
    grid-column-gap: 30px;
  }
}

@media (max-width: 609px) {
  .cardList {
    padding: 18px 10px 72px;
    min-height: calc(100dvh - 695px);
  }

  .cardList__items {
    grid-template-columns: repeat(auto-fit, 300px);
    grid-row-gap: 20px;
    grid-column-gap: 17px;
  }

  .cardList__buttonMore {
    width: 240px;
    height: 36px;
  }
  
  .cardList_saved {
    padding-bottom: 45px;
  }
}
