.authForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authForm__btn {
  padding: 0;
  margin: 0 0 0 0;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  background: #3456f3;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

.authForm__box {
  margin: 77px 0 0 0;
  padding: 0;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.authForm__btn-disabled {
  background: #e8e8e8;
}

.authForm__apiMessage {
  padding: 0;
  margin: 0 auto 10px;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: #ee3465;
}

@media (max-width: 839px) {
  .authForm{
    flex-grow: 0;
  }
}

@media (max-width: 609px) {
  .authForm{
    width: 100%;
  }

  .authForm__btn {
    font-size: 12px;
  }

  .authForm__box {
    margin: 164px 0 0 0;
  }
}
